html {
  scroll-behavior: smooth;
}

.form-input {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  width: 100%;
  padding: 4px;
  border-radius: 0px;
  background-color: transparent;
  border-color: #d3b58d;
  border-width: 2px;
  color: #d3b58d;
  font-size: 22px;
}

